.block{
    width: 100%;
}

.mainText{
    position: relative;
    top: 100px;
}

.goalText{
    position: relative;
    top: 100px;
}

.logoA{
    position: relative;
    top: 70px;
}

.block{
    position: relative;
    top: 10px;
    height: 500px;
}

.TrainerI{
    position: relative;
    top: 80px;
}

.trainerText{
    position: relative;
    top: 80px;
}

.img{
    position: relative;
    top: 70px;
}

.foot{
    position: relative;
    top: 80px;
}
