.block{
    width: 100%;
}

.mainText{
    position: relative;
    top: 100px;
}

.goalText{
    position: relative;
    top: 100px;
}

.logoA{
    position: relative;
    top: 70px;
}

.block{
    position: relative;
    top: 10px;
    height: 500px;
}

.TrainerI{
    position: relative;
    top: 80px;
}

.trainerText{
    position: relative;
    top: 80px;
}

.img{
    position: relative;
    top: 70px;
}

.foot{
    position: relative;
    top: 80px;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --accent-color: #b6a9a96e;
    --base-color: #ffffff;
    --text-color: #000000;
    --input-color: #f3ecec;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

.textAccount{
    position: relative;
    top: 20px;
    margin-bottom: 330px;
}

.logBtn{
    position: relative;
    top: 20px;
    right: -120px;
}

.text{
    position: relative;
    top: 90px;
    left: -40px;
    margin-bottom: 450px;
}


form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 20px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form input:hover{
    border: 2px solid var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:hs(input:focus) > label{
    background-color: var(--text-color);
}

@media(max-width: 1100px) {
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}
